/* .navbutton{
    display: flex;
    justify-content: space-between;
    width: 45% !important;
    align-items: center;
}
.button1{
    display: flex;
}
.button2{
    display: flex;
} */

.sidebar {
  position: fixed;
  top: 50%;
  right: -3%;
  width: 200px;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.sidebar2 {
  position: fixed;
  top: 40%;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.social-icon{
  display: block;
  line-height: 60px;
}

.bi{
  border: 1px solid;
  padding: 4px;
  border-radius: 50%;}
.sidebar button {
  border: none;
  font-size: 18px;
  padding: 15px;
  margin: 5px 0;
  width: 80%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;
  border-radius: 30px 0px 0px 30px;
  font-weight: 600;
}
.sidebar button a{
    text-decoration: none;
    color: white;
}
.sidebar button:before {
  height: 0%;
  width: 2px;
}
.sidebar button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  }

@media only screen and (max-width: 600px) {
  .navbutton {
    display: flex;
    justify-content: space-evenly;
  }
  .button1 {
    display: block;
  }
  .button2 {
    display: block;
  }
  .sidebar{
    right: -10%;
  }
  .sidebar button {
    font-size: 15px;
    padding: 5px;
    margin: 5px 0;
    width: 50%;
  }
}
