/* .buton{
    width: 40%;
    background: orange;
} */
/* .carousel .carousel-control { visibility: hidden !important; }  */
.carousel-control-next{
    z-index: 0 !important;
}
.carousel-control-prev{
    z-index: 0 !important;
}
.fullBody{
    margin-top: 131px;
}
@media only screen and (max-width: 600px) {
    .fullBody{
    margin-top: 132px;
    }

}